table {
  border: solid;
  border-spacing: 10px 10px;
  margin: 20px auto;
  border-collapse: separate;
}
td {
  padding: 0px;
}
input {
  width: 100%;
}
.equals {
  color: #fff;
  background-color: darkgreen;
}

.nbr-input {
  background-color: lightgrey;
  color: #333;
}

.clear {
  background-color: darkred;
  color: #fff;
}

.symbol-input {
  background-color: #333;
  color: #fff;
}
